+width-max(1170px)
  body 
    min-width 320px
  .section__head__slider
    min-width 320px
  .container-wrapper 
  .section__head__slider
    width 100%
  .main-menu__link
    font-size 18px
  .main-menu__item
    margin-right 15px
  .col__355
    display: none
  .footer__responsive__134
    width 134px
  .footer__responsive__77
    width 77%
  .footer__col
    padding: 30px 0 0 30px;
  .section__seo 
    .col__50
      width 100%
      &:nth-child(2)
        display: none
  .section__specialist__item
    width 31%
    &:last-child
      display: none
  .section__specialist__link
  .section__our-services__link
    font-size 20px
  .section__our-services__items
    padding-bottom 10px
  .section__our-services__img
    width 70%
    height auto
    img 
      width 100%
      height auto
  .section__our-services
    padding 30px 0 0px 0
  .section__call__bg
    .col__40 
      width 60%
    .col__42 
      width 39%
  .col__42 p .dnone
    display: none
  .section__call__title
    line-height 35px
  .section__call__bg
    padding-top 50px 
    padding-bottom 30px 
  .section__call .button
    font-size 19px
  .form__input_search
  .button_search
    font-size 19px
  .section__head
    padding 0px 0 80px 0
  .header
    .col__18 
      width 25%
    .col__82
      width 75%
  .main-menu
    padding-top 10px


+width-max(770px)
  .section__specialist__item
    width 48%
    &:nth-child(3)
      display: none
    

+width-max(760px)
  .main-menu
    top: 50px;
    left: 0;
    background: blue
    height: auto;
    position: fixed
    padding 20px
    z-index 2
    ul 
      flex-direction column
  .main-menu__link
    color white
    text-decoration none
    padding 10px 0
    +after()
      display: none
  .header .col__82
    width 0px
    position absolute
    left 0px
  .header .col__18
    width 260px
    margin 0 auto
    align-items: flex-end;
  .header__title 
    display: block
    position relative 
    top 3px
    margin-left 30px
    span 
      display: block
  .footer__phone
    margin 10px 0
    +after() 
      display: none
  .footer__logo
    margin-top 40px
  .footer__copy
    margin 16px 0 0 0
  .footer
    .col__360
      display: none
    .col__50 
      width 100%
  .footer__responsive__77
    display: none
  .footer__phone_responsive 
    display: block
  .toggle-menu
    display block
  .footer__menu
    z-index 1
    position absolute
    right 0px
    top 0px
    background: blue
    width 70px
    height @width
    display flex
    > button
      margin auto
  .footer__logo
    margin-left auto 
    margin-right auto
  .header
    padding 25px 0px
  .header__top
    display: none
  .main-menu
    display: none
  .header__responsive 
    display: flex
    position fixed
    width 100%
    z-index 2
    box-shadow 0 0 3px rgba(0,0,0, 0.3)
  .header
    padding-top 75px
    

+width-max(730px)
  .section__head__title
    font-size 22px
    font-weight bold
  .section__head__tabs span
    font-size 17px
  .section__head__tabs span.active 
    +after()
      triangle(40px, 18px, bottom, orange)
      bottom -17px
  .section__head__tabs
  .section__head__content
    width 100%
  .section__head__tabs span
    height 37px 
    line-height @height - 3px
  .section__services
    .row 
      flex-direction column
  .section__call__bg
    background-position left bottom
  .section__services__item 
    display flex
    align-content center
    margin-bottom 30px
    &:last-child
      margin-bottom 0px
    span
      display: none
  .section__services__title
    font-size 18px
    margin-left 20px
    font-weight bold 
    line-height 20px
  .section__call__bg 
    .row 
      flex-direction column
  .section__our-services__items
    flex-direction column
  .section__our-services .col__30
    width 100%
    margin 0 auto
  .section__our-services__img
    display: block
    width 150px 
    margin 0 auto
  .section__call__bg .col__42
  .section__call__bg .col__40
    width 100%
    margin 0px
  .section__call__title
    margin-bottom 10px
  .section__call__form
  .section__head__content
    background: transparent
    box-shadow none
    border-radius 0px
  .form__input_search
    border-radius (4px) !important
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  .section__call__form
    .center 
      align-items flex-end
    .button 
      margin-top 15px
  .button
    height 48px
    line-height @height - 3px
  .section__head__content 
    .row 
      flex-direction column
      align-items flex-end
    .button 
      margin-top 15px
  .section__head
    padding-bottom 30px
    overflow hidden
  .section__head__tabs
    margin-bottom 30px
  .section__head
    padding-top 30px
  .header 
    background white
  .section__head__tabs span
    width 33.3%
  .section__services
    padding 40px 0 30px 0
  .section__services__title
    margin-top 0px
    margin-bottom 0px
  .section__specialist
    padding-bottom 20px
  .section__spectialist-wrapper
    background: #edecec
    h2 
      padding-top 25px
  .section__seo-wrapper 
    padding-top 35px
    padding-bottom 40px

+width-max(600px)
  .section__specialist__item
    display block !important
  .section__specialist__item:hover 
    box-shadow none


+width-max(464px)
  .section__head__tabs span.active 
    +after()
      triangle(30px, 18px, bottom, orange)
      bottom -17px
      left 34%