@import '_plugins'
@import nib
@import '_variables'
@import '_components'
@import '_media'


body 
  font-family $body-font
  

.wrapper
.section__head__slider 
  width 100%
  margin 0 auto
  max-width 1920px


.section__head__slider
  min-width 1170px
  margin 0 auto

  
.button:active 
  box-shadow inset 0 0 3px black
  

.footer 
  background: grey2
  

  &__adr 
    color dark 
    font-size 16px
  &__copy 
    font-size 14px
    margin 40px 0 89px 0
  &__col 
    padding 30px 0 0px 20px
  &__phone 
    font-size 20px
    margin 40px 0 5px 0
    &_responsive 
      display: none
  .button 
    margin 0 0 20px 0
  p 
    font-size 14px
    padding 0px
  a 
    font-size 14px
  

.header
  padding 25px 0 0 0
  
 
  &__title 
    display: none
  &-wrapper 
    .toggle-menu
      background: blue
      width 50px 
      height @width
  &__responsive
    background: grey2
    padding-right 20px
    display: none
    &__str
      font-size 14px
      position: relative
      top 3px
      vertical-align bottom
      span 
        font-size 24px
        vertical-align bottom
        position relative 
        top 8px
  &__right 
    .str24 
      display: block
    .button 
      margin-top 3px
  &__top 
    p 
      color grey
      line-height 20px
      

.menu
  

  &__link
    font-size 18px
    color blue
    text-decoration none
    display inline-table
    margin-bottom 10px
    +after('')
      width 100%
      height 1px 
      background: blue
      display: block
      trs()
      margin-top -3px
    &:hover 
      color black
      +after()
        margin-top 5px 
        trs()
        background: orange
        height 4px
  &__link_active 
    color #3f3f3f
    font-weight bold
    font-size 22px
    +after()
      margin-top 5px 
      trs()
      background: orange
      height 4px


.main-menu
  height 70px
  padding-top 20px

  
  &__item
    margin-right 35px
    &_active 
      a
        color black
        +after()
          margin-top 5px 
          trs()
          background: orange
          height 4px
    &:hover
      .main-menu__link
        color black
        +after()
          margin-top 5px 
          trs()
          background: orange
          height 4px
  &__link 
    font-size 26px 
    font-weight bold
    text-decoration none
    color blue
    cursor pointer
    vertical-align: baseline
    +after('')
      width 100%
      height 1px 
      background: blue
      display: block
      trs()
      margin-top -3px
        

.section 
  

  &__head
    padding 60px 0 80px 0
    position: relative

    
    &__slider 
      position absolute
      top 0px
      width 100% 
      left 0px
      z-index -1
      height 521px
    &__title 
      font-size 40px
      text-align: center
      color dark
      margin 0 0 25px 0
    &__tabs
      width 555px
      margin 0 auto
      background: rgba(237, 236, 236, 0.83);
      border-radius 5px
      margin-bottom 50px
      span,
      a
        flex-grow 1
        text-align: center
        font-size 22px
        color blue
        text-decoration underline
        height 46px 
        line-height @height - 3px
      span.active 
        position: relative
        color white 
        background: orange
        border-radius(5px)
        text-decoration none
        +after('')
          triangle(40px, 20px, bottom, orange)
          position absolute
          bottom: -19px;
          z-index 1
          left 40%
          
    &__content
      width 555px
      background: white
      margin 0 auto
      border-radius 4px 
      overflow hidden
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      input 
        +placeholder()
          color #d7d8da
      

  &__services
    padding 50px 0
    

    &__title 
      font-size 26px
      line-height 28px
      margin 10px 0 10px 0
    &__item 
      span 
        display: block
  

  &__call
    background: blue
    

    &__close 
      color white
      position absolute
      right 20px
      font-size 12px
      text-decoration: underline
      cursor pointer
      top 15px
      &:hover 
        text-decoration: none
    &__bg-2 
      background: blue
      border-radius (4px)
      padding 30px 60px
      margin-top 40px
      position: relative
      span 
        color white
      +before('')
        background: image-url('bg12.png') no-repeat center
        display: inline-block
        width 169px 
        height 180px
        position absolute
        bottom 0px
        left 0px
      .col__40 
        margin-top: 48px;
        width 55%
      .col__42 
        margin-left 130px
        width 45%
        a 
          color white 
          display: block
          font-size 16px
      .col__40_reset
        margin-top 0px
        span 
          margin 0 0 15px 0
          font-size 14px
      &_reset
        padding-left 0px
        margin-top 10px
        +before()
          display: none
        .col__42 
          margin-left 50px
          width 50%
        .section__call__title
          position: relative
          top -5px 
          margin 0 0 10px 0


    &__title 
      color white 
      font-size 36px
      margin 0 0 15px 0
    p 
      color white
    &__form 
      border-radius 5px
      overflow hidden
      background: white
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      input
        +placeholder()
          color #d7d8da
    &__bg 
      background image-url('bg1.png') no-repeat bottom right
      padding-bottom 60px 
      padding-top 60px 
      
    .button 
      padding 0 20px
      

  &__our-services 
    padding 50px 0 60px 0
    

    &__link 
      font-size 26px 
      font-weight bold
      display: block
      margin 20px 0 15px 0
    h2 
      margin-bottom 30px
    &__img
      border-radius(50%)
      overflow hidden
      img 
        display: block
        border-radius(50%)
      

  &__specialist
    padding 0 0 40px 0
    

    &__item 
      padding 20px
      position: relative
    .section__specialist__item.active
      box-shadow 0 0 0 3px orange
      trs()
      .section__specialist__tooltip 
        width 95px 
        height @width
        font-size 14px
        margin-left 80px
        margin-bottom 7px
        span 
          opacity: 1
          trs2()
    &__link 
      font-size 24px 
      font-weight bold
      margin 15px 0
    &__phone 
      font-weight bold
      color dark
    &__img 
      position: relative
      img 
        display: block
    &__tooltip
      background: orange 
      border-radius (50%)
      color white
      width 30px 
      height @width
      font-size 0px
      position absolute
      bottom 0px 
      left 0px
      trs()
      margin-bottom -14px 
      margin-left -14px
      overflow hidden
      span 
        opacity: 0
        color white
        padding: 22px;
        line-height: 17px;
        font-size: 14px;
        trs2()
  
  
  &__seo
    

    &-wrapper 
      padding-bottom 40px
      h2 
        margin-bottom 30px
      &_reset 
        padding-bottom 0px
        padding-top 10px


  &__filter
    
    
    &__banner 
      background: blue
      padding 25px
      &__title 
        font-size 24px 
        color white 
      &__span 
        color white
        font-size 15px
        margin 20px 0 30px 0
      .button 
        font-size 16px
        display: inline-block
        margin 0 auto
        height 45px 
        line-height @height - 3px
        padding 0 25px
    &__result 
      margin-top 25px
      &__item 
        margin 0 0 20px 0
      &-view-2 
        flex-wrap wrap
    &__view 
      flex-grow 1
      a 
        margin-left 20px
    &__bottom 
      background: #fefefe
      border 1px solid grey2
      border-radius 4px 
      margin-top 20px
      padding 5px 25px 5px 15px
      .section__filter__checkbox
        margin 0px 0px 0 30px
      .label__checkbox 
        font-size 12px
        i
          border-color border
    &__top-row
      margin-right 30px
      margin-bottom 25px
      &-margin 
        margin-right 15px !important
    &__hide
      span 
        font-size 18px 
        border-bottom 1px dotted dark
    &__save-search
      margin 0 0 0px 0
    &__subrow-1
      margin-right 15px
    &__subrow 
      margin-right 30px
    &__row 
      margin-bottom 15px
    &__radio-wrapper 
      border 1px solid border
      border-radius 4px
      overflow hidden
    &__title 
      height 43px 
      line-height 40px
    &-content
      background: grey2
      padding 15px 15px 25px 15px
      border-radius (4px)
      margin-top 20px
      overflow hidden
      input 
        margin 0px
    &__custom 
      padding-left 10px

  
  &__pagination
    margin 10px 0 20px 0


  &__catalog
    padding 20px 0
    

    &__same-objects 
      margin-top 20px
      h2 
        margin 0 0 10px 0
    &__tab
      &__map-wrapper 
        iframe
          width 100% 
          height 500px
    &__tabs 
      margin 25px 0 0 0
    &__item
      margin 20px 0 0 0
      p 
        font-size 14px
        line-height 20px
        
      
      &__thumbs
      &__thumbs-2
        margin 10px 0 0 0
        img 
          margin-right 15px
          opacity: 0.5
        .slick-current
          opacity: 1
      &__span 
        font-size 12px
        margin 0 0 15px 0
      &__torg 
        span 
          font-size 14px
        a 
          text-decoration: none
          border-bottom 1px dotted blue
          font-size 16px
      &__top 
        margin 20px 0
      &__price 
        font-size 30px
        font-weight bold
        vertical-align: top
      &__old-price 
        vertical-align: top
        font-size 14px 
        font-weight bold
        text-decoration line-through
        color dark
        margin-left 10px
        position relative 
        top -5px
      &__content 
        padding-left 40px
      &__list
        margin 0 0 10px 0
        span 
          font-weight bold
          vertical-align: bottom
  

  &__team 
    
    
    &__items 
      padding-bottom 30px
      h2 
        margin-bottom 20px
    &__clients
    &__objects 
      font-size 14px
      display flex
      line-height 16px
      align-items center
    &__clients
      margin-right 20px
    p 
      font-size 14px 
      line-height 18px
      margin 25px 0 0 0
    &__left 
      margin-right 20px
    &__phone 
      margin 7px 0 0 0
    &__name 
      font-size 26px 
      font-weight bold
    &__items
      flex-wrap wrap
    &__item 
      background: grey2
      padding 30px
      border-radius (4px)
      margin-bottom 30px
    &__one 
      margin 15px 0 0 0
      .col__260
        width 260px
        text-align: center
        .section__team__clients
          margin-bottom 10px
          margin-top 10px
        .section__team__clients
        .section__team__objects
          margin-left 16px
      &__right 
        padding-left 20px
        p 
          font-size 16px
          line-height 23px
          margin-top 10px
          padding-bottom 10px
    &__specialist
      background: grey2
      font-weight bold
      height 40px 
      line-height 38px
      padding 0 10px
      position: relative
      +before()
        triangle(20px,40px,left,grey2)
        position: absolute
        display: block
        left -20px
    &__phone-2
      display: block
      margin 14px 0 5px 0
    &__doc 
      background: #f5f5f5
      border-radius 4px
      padding 20px
      img 
        display block
    &__user 
      font-weight bold
      margin-left 20px
    &__document 
      display: block
      box-shadow 0 0 23px rgba(0,0,0, 0.1)
    &__tabs__content 
      background: #fefefe
      border 1px solid border
      border-radius 0 4px 4px 4px 
      padding 40px 40px 10px 40px
      margin-bottom 20px
      &__item
        margin-bottom 40px
      p 
        margin-top 0px
        padding-bottom 20px
        font-size 16px
        line-height 23px
    &__tabs-wrapper 
      margin-top 40px
    &__tabs 
      span 
        font-size 18px 
        color blue 
        text-decoration: underline
        font-weight bold
        border 1px solid transparent
        border-radius 4px 4px 0 0
        padding 8px 10px
        position: relative
        top 1px
      span.active 
        font-size 26px 
        border-color border
        padding 15px 40px
        text-decoration: none
        border-bottom 1px solid white
        color dark
  

  &__blog 
    
    
    &__same 
      padding 20px 0 50px 0
      flex-wrap wrap
      &__content 
        padding 30px 0 0 0
      &__item 
        img 
          display: block
        a 
          font-size 20px 
          font-weight bold
          margin 20px 0 5px 0
        span 
          font-size 12px
          margin 0 0 5px 0
        flex-grow 1 
        width 250px
        margin-right 30px
    &__nav 
      width 100%
    &__item 
      margin-bottom 40px
    &__link 
      font-size 40px
      font-weight bold
      margin-bottom 20px
      line-height 45px
    &__img 
      margin-bottom 20px
      img 
        display: block
        width 100%
    &__footer-2 
      margin-top 30px
    &__footer 
      background: #ebe7e8
      border-radius 4px
      padding 5px 40px 5px 10px
      &__soc 
        font-weight bold
        font-size 16px
        margin 0 0 10px 0
      &__link 
        a 
          font-weight bold
          font-size 14px
        .row span 
          font-size 14px
          +before('/')
            margin 0 10px
        > span 
          line-height 10px
      &__date 
        font-size 12px
      &__user 
        margin-right 15px
        img 
          display: block
      &__tags a 
        font-weight bold
        font-size 14px
        &:last-child
          +after 
            display: none
      &__separator 
        margin 0 8px
  

  &__review 
    padding 0 0 40px 0
    

    &__docs 
      margin-left 30px
      img 
        display: block
        box-shadow 0 0 20px rgba(0,0,0, 0.2)
    &__author 
      font-weight bold
    &__single 
      margin 0 0 50px 0
    &__img
      margin-bottom 20px
      img
        margin-right 20px
        box-shadow 0 0 10px rgba(0,0,0, 0.2)
    &__span 
      font-size 18px
      margin 0 0 3px 0
    &__item 
      margin-bottom 60px
      &-wrapper 
        flex-wrap wrap
      img 
        display: block
      span 
        font-weight bold
        

  &__adr
    background: url(../images/background/bg16.png) no-repeat bottom right #2763b0;
    border-radius 4px
    padding 20px 40px
    

    li 
      color white 
      font-size 20px
      span 
        font-weight bold
        color white
        font-size 20px
      &:nth-child(3)
        margin-top 10px     
  

  &__map 
    margin-top 30px
    margin-bottom 20px


    img 
      display: block
      width 100%
    iframe 
      width 100% 
      

  &__serv 
    h2 
      margin 50px 0 30px 0
    ul 
      margin-bottom 0px
      margin-top 30px
    li 
      font-size 18px 
      font-weight bold
      color dark 
      margin 0 0 8px 0
      display flex
      +before('')
        static()
        width 10px 
        height @width 
        background: orange 
        border-radius 50%
        display: inline-block
        vertical-align: middle
        margin-right 8px
        position: relative
        top 5px
      p 
        span 
          font-weight normal
    &_reset 
      h2 
        margin-bottom 80px
    &-wrapper 
      .col__60 
        min-height 480px
    

    &__bg 
      background: url(../images/team/2.jpg) no-repeat bottom
    &__bg-2
      background: url(../images/team/3.jpg) no-repeat bottom
    &__bg-3
      background: url(../images/team/4.jpg) no-repeat bottom