extends layout
include mixins.pug

block content
  -var pageId = 1;
  +header-menu-2()
  section.section__catalog
    .container-wrapper
      +bread-crumbs([
        'Главная страница',
        'Каталог'
      ])
      h2 Купить квартиру в Вологде
    .section__banner.animated.fadeIn
      .container-wrapper
        .section__call__bg-2
          .section__call__close.jsClose Закрыть окно
          .row.center.between
            .col__42.col_margin
              .section__call__title Не хотите искать сами?
                span Оставьте свой номер телфона и мы <br> перезвоним вам!
            .col__40
              +call
    +filter()
    .section__filter__bot
      .container-wrapper
        .row.section__filter__bottom.center
          select()
            option(value="Сначала самые свежие") Сначала самые свежие
            option(value="Сначала самые несвежие") Сначала самые несвежие
          .section__filter__checkbox.row.center.section__filter__row
            label().label__checkbox
              input(type="checkbox").input__checkbox
              i
              | Только с оранжевым ценником
          .section__filter__view.end.row.center
            a(href="catalog-map.html").section__filter__link-map
            a(href="catalog-view-2.html").section__filter__link-view-1
            a(href="catalog.html").section__filter__link-view-2.active
    .section__filter__result 
      .container-wrapper
        .section__filter__result-view-1
          .section__filter__result__item.section__filter__result__item_orange.row
            .col__265.col_margin.item-mobile-view
              .item__like-2
              a(href="catalog-item.html")
                img(src="images/catalog/1.jpg", alt="")
              .item-view-2
                .item__price 229 650 000 Р
                a(href='catalog-item.html').item__link-2 2-комнатная, Центр, ул. Осаново, д. 20а
                .item__adr Вологда, р-н Центр
            .auto__width.row 
              .auto__width
                span.item__adr Вологда, р-н Центр
                a(href="catalog-item.html").item__link 2-комнатная, ул. Осаново, д. 20а
                p.item__descr Квартира с удобной планировкой. Потребует обновления ремонта (т.к. делали лет 15 назад). Пол деревянный. Балкон застеклен пластиком. Выход на балкон из кухни. Квартира выходит окнами на 3 стороны (юг, запад, север).
                ul.item__stats  
                  li.item__stat <span>Площадь:</span> 120 / 0 / 0 
                  li.item__stat <span>Этаж:</span> 2 / 2 (Кирпичный)
              .col__200
                .item__price 229 650 000 Р
                .item__old-price 379 650 000 Р
                .item__like
          -for (var x = 0 ; x < 7 ; x ++ )
            .section__filter__result__item.row
              .col__265.col_margin.item-mobile-view
                .item__like-2
                a(href="catalog-item.html")
                  img(src="images/catalog/1.jpg", alt="")
                .item-view-2
                  .item__price 229 650 000 Р
                  a(href='catalog-item.html').item__link-2 2-комнатная, Центр, ул. Осаново, д. 20а
                  .item__adr Вологда, р-н Центр
              .auto__width.row 
                .auto__width
                  span.item__adr Вологда, р-н Центр
                  a(href="catalog-item.html").item__link 2-комнатная, ул. Осаново, д. 20а
                  p.item__descr Квартира с удобной планировкой. Потребует обновления ремонта (т.к. делали лет 15 назад). Пол деревянный. Балкон застеклен пластиком. Выход на балкон из кухни. Квартира выходит окнами на 3 стороны (юг, запад, север).
                  ul.item__stats  
                    li.item__stat <span>Площадь:</span> 120 / 0 / 0 
                    li.item__stat <span>Этаж:</span> 2 / 2 (Кирпичный)
                .col__200 
                  .item__price 229 650 000 Р
                  .item__like
    .section__pagination
      .container-wrapper
        +pagination
    +seo()