mixin footer()
  footer.footer
    .container-wrapper.row
      //- .footer__menu 
      //-   +sandwitch()
      .col__50.row.col_margin.footer__responsive__134
        .auto__width
          span.footer__copy © 2016 «Олимп»
          span.footer__phone.footer__phone_responsive (8172) 70-41-70
          a(href="").footer__logo
        .col__355
          img(src="images/background/bg10.jpg", alt="")
      .col__50.row.footer__responsive__77
        .col__360 
          img(src="images/background/bg11.jpg", alt="")
        .auto__width.footer__col 
          span.footer__adr г. Вологда,
          span.footer__adr ул. Благовещенская, 54,
          span.footer__adr офиc 202
          span.footer__phone (8172) 70-41-70
          a(href="").button.button_xs Заказать звонок
          p Работает на 
            a(href="") DomisCRM