extends layout
include mixins.pug

block content
  +header-menu()
  section.section__services
    .container-wrapper
      .row.between
        .section__services__item
          .section__services__icon-1 
          .section__services__title Ведущее агентство <br> Вологды
          span по продаже жилой 
          span вторичной недвижимости
        .section__services__item
          .section__services__icon-2
          .section__services__title Оплата только <br> за результат
          span вы оплачиваете наши услуги 
          span по факту сделки
        .section__services__item
          .section__services__icon-3
          .section__services__title Отличный сервис <br> и профессионализм
          span множество реальных отзывов 
          span довольных клиентов
  section.section__call
    .container-wrapper.section__call__bg
      .row.center.between
        .col__42.col_margin
          .section__call__title Попросить перезвонить
          p Купить или снять недвижимость — задача несложная, если знать, где искать и с чего начать поиски. 
            span.dnone Чтобы арендовать или купить недвижимость, не нужно ехать в агентство. 
        .col__40
          +call
  section.section__our-services
    .container-wrapper
      h2 Наши сервисы 
      .row.between.section__our-services__items
        .col__30.section__our-services__item
          a(href="").section__our-services__img
            img(src="images/background/bg2.jpg", alt="")
          a.section__our-services__link(href="") Новостройки
          p Купить или снять недвижимость — задача несложная, если знать, где искать и с чего начать поиски. Чтобы арендовать или купить недвижимость, не нужно ехать в агентство. 
        .col__30.section__our-services__item
          a(href="").section__our-services__img
            img(src="images/background/bg3.jpg", alt="")
          a.section__our-services__link(href="") Обмен
          p Снять недвижимость — задача несложная, если знать, где искать и с чего начать поиски. Чтобы арендовать или купить недвижимость, не нужно ехать в агентство. 
        .col__30.section__our-services__item
          a(href="").section__our-services__img
            img(src="images/background/bg4.jpg", alt="")
          a.section__our-services__link(href="") Оценка
          p Купить или снять недвижимость — задача несложная, если знать, где искать и с чего начать поиски. Чтобы арендовать или купить недвижимость, не нужно ехать в агентство. 
  section.section__spectialist-wrapper
    .container-wrapper    
      h2 Наши специалисты
      .row.between.section__specialist
        .col__24.section__specialist__item 
          .section__specialist__img
            img(src="images/background/bg5.jpg", alt="")
            .section__specialist__tooltip 
          a(href="").section__specialist__link Анна Иванова
          p Специализируется по центральной части города и району улицы Дальняя
          span.section__specialist__phone +7 921 232 37 76
        .col__24.section__specialist__item 
          .section__specialist__img
            img(src="images/background/bg6.jpg", alt="")
            .section__specialist__tooltip 
          a(href="").section__specialist__link Константин Константинопольский
          p Специализируется по центральной части города и району улицы Дальняя
          span.section__specialist__phone +7 921 232 37 76
        .col__24.section__specialist__item.active 
          .section__specialist__img
            img(src="images/background/bg7.jpg", alt="")
            .section__specialist__tooltip 
              span Лучший работник месяца
          a(href="").section__specialist__link Артем Смирнов
          p Специализируется по центральной части города и району улицы Дальняя
          span.section__specialist__phone +7 921 232 37 76
        .col__24.section__specialist__item 
          .section__specialist__img
            img(src="images/background/bg9.jpg", alt="")
            .section__specialist__tooltip 
          a(href="").section__specialist__link Петр Петровский
          p Специализируется по центральной части города и району улицы Дальняя
          span.section__specialist__phone +7 921 232 37 76
  section.section__seo-wrapper  
    .container-wrapper  
      h2 SEO текст о недвидимости в Вологде
      .row.between.section__seo 
        .col__50.col_margin
          p Мы создали мобильное приложение для поиска недвижимости в вашем городе, чтобы у вас был мгновенный доступ к просмотру объявлений по всем типам недвижимости (новостройки, «вторичка») в любом регионе России. Мобильное приложение ЦИАН предлагает интерактивный поиск объектов недвижимости на карте и рядом с вашим местоположением. Искать жилье или другие объекты недвижимости на ЦИАН.ру очень просто! Подробный и удобный фильтр поиска позволяет сразу же задать нужные параметры, вы быстро подберете нужный объект из предложенных вариантов.
        .col__50
          p Мобильное приложение ЦИАН предлагает интерактивный поиск объектов недвижимости на карте и рядом с вашим местоположением. Искать жилье или другие объекты недвижимости на ЦИАН.ру очень просто! Подробный и удобный фильтр поиска позволяет сразу же задать нужные параметры, вы быстро подберете нужный объект из предложенных вариантов.