extends layout
include mixins.pug

block content
  -var pageId = 2;
  +header-menu-2()
  section.section__serv
    .container-wrapper
      .row.section__serv-wrapper
        .col__60
          h2 Ипотека в Вологде
          h3 Поможем получить одобрение ипотеки в Вологде
          ul
            li Подберем выгодную программу
            li Возможно без первоначального взноса (с использованием маткапитала)
            li Ипотека без подтверждения дохода
            li Дистанционное одобрение — приезжайте и выбирайте квартиру с уже одобренным кредитом
            li Подберем выгодную программу
            li Возможно без первоначального взноса (с использованием маткапитала)
        .col__40.section__serv__bg 
  section.section__call
    .container-wrapper.section__call__bg.section__call__bg_ip
      .row.center.between
        .col__42.col_margin
          .section__call__title Попросить перезвонить
          p Оценить недвижимость — задача несложная, если знать, где искать и с чего начать поиски. Чтобы арендовать или купить недвижимость, не нужно ехать в агентство. 
        .col__40
          +call
  section.section__seo-wrapper.section__seo-wrapper_reset 
    .container-wrapper  
      h2 SEO текст о недвидимости в Вологде
      .row.between.section__seo 
        .col__50.col_margin
          p Мы создали мобильное приложение для поиска недвижимости в вашем городе, чтобы у вас был мгновенный доступ к просмотру объявлений по всем типам недвижимости (новостройки, «вторичка») в любом регионе России. Мобильное приложение ЦИАН предлагает интерактивный поиск объектов недвижимости на карте и рядом с вашим местоположением. Искать жилье или другие объекты недвижимости на ЦИАН.ру очень просто! Подробный и удобный фильтр поиска позволяет сразу же задать нужные параметры, вы быстро подберете нужный объект из предложенных вариантов.
        .col__50
          p Мобильное приложение ЦИАН предлагает интерактивный поиск объектов недвижимости на карте и рядом с вашим местоположением. Искать жилье или другие объекты недвижимости на ЦИАН.ру очень просто! Подробный и удобный фильтр поиска позволяет сразу же задать нужные параметры, вы быстро подберете нужный объект из предложенных вариантов.