// Input reset 
.form__input_reset 
  margin 0px
  border-radius 0px
  border none
.button_search
  padding 0 40px
.form__input_search
  font-size 22px
  padding-left 20px
  

// Slider 
.slide-1
  background url(../images/slider/slide-1.jpg) no-repeat center
.slide-2
  background url(../images/slider/slide-2.jpg) no-repeat center
.slide-3
  background url(../images/slider/slide-3.jpg) no-repeat center 
.slide-4
  background url(../images/slider/slide-4.jpg) no-repeat center 
.slide-5
  background url(../images/slider/slide-7.jpg) no-repeat center 
.slide-6
  background url(../images/slider/slide-6.jpg) no-repeat center
.bx-slider-1 
  .slide 
    height 512px
    background-size cover
    background-position center
    

// Footer 
.col__355 
  padding 18px 0
  img 
    display: block
.col__360 
  width 360px
  img 
    display: block
.col__42 p span 
  color white
  display inline
  

// Main-menu 
.main-menu.active 
  display: block