/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_alike_name = 'sprite-alike';
$sprite_alike_x = 135px;
$sprite_alike_y = 51px;
$sprite_alike_offset_x = -135px;
$sprite_alike_offset_y = -51px;
$sprite_alike_width = 35px;
$sprite_alike_height = 30px;
$sprite_alike_total_width = 229px;
$sprite_alike_total_height = 181px;
$sprite_alike_image = 'retinaSprite.png';
$sprite_alike = 135px 51px -135px -51px 35px 30px 229px 181px 'retinaSprite.png' 'sprite-alike';
$sprite_icon_name = 'sprite-icon';
$sprite_icon_x = 0px;
$sprite_icon_y = 146px;
$sprite_icon_offset_x = 0px;
$sprite_icon_offset_y = -146px;
$sprite_icon_width = 35px;
$sprite_icon_height = 35px;
$sprite_icon_total_width = 229px;
$sprite_icon_total_height = 181px;
$sprite_icon_image = 'retinaSprite.png';
$sprite_icon = 0px 146px 0px -146px 35px 35px 229px 181px 'retinaSprite.png' 'sprite-icon';
$sprite_left_name = 'sprite-left';
$sprite_left_x = 208px;
$sprite_left_y = 95px;
$sprite_left_offset_x = -208px;
$sprite_left_offset_y = -95px;
$sprite_left_width = 15px;
$sprite_left_height = 25px;
$sprite_left_total_width = 229px;
$sprite_left_total_height = 181px;
$sprite_left_image = 'retinaSprite.png';
$sprite_left = 208px 95px -208px -95px 15px 25px 229px 181px 'retinaSprite.png' 'sprite-left';
$sprite_like_name = 'sprite-like';
$sprite_like_x = 180px;
$sprite_like_y = 51px;
$sprite_like_offset_x = -180px;
$sprite_like_offset_y = -51px;
$sprite_like_width = 35px;
$sprite_like_height = 30px;
$sprite_like_total_width = 229px;
$sprite_like_total_height = 181px;
$sprite_like_image = 'retinaSprite.png';
$sprite_like = 180px 51px -180px -51px 35px 30px 229px 181px 'retinaSprite.png' 'sprite-like';
$sprite_logo_name = 'sprite-logo';
$sprite_logo_x = 0px;
$sprite_logo_y = 0px;
$sprite_logo_offset_x = 0px;
$sprite_logo_offset_y = 0px;
$sprite_logo_width = 125px;
$sprite_logo_height = 85px;
$sprite_logo_total_width = 229px;
$sprite_logo_total_height = 181px;
$sprite_logo_image = 'retinaSprite.png';
$sprite_logo = 0px 0px 0px 0px 125px 85px 229px 181px 'retinaSprite.png' 'sprite-logo';
$sprite_right_name = 'sprite-right';
$sprite_right_x = 45px;
$sprite_right_y = 146px;
$sprite_right_offset_x = -45px;
$sprite_right_offset_y = -146px;
$sprite_right_width = 15px;
$sprite_right_height = 25px;
$sprite_right_total_width = 229px;
$sprite_right_total_height = 181px;
$sprite_right_image = 'retinaSprite.png';
$sprite_right = 45px 146px -45px -146px 15px 25px 229px 181px 'retinaSprite.png' 'sprite-right';
$sprite_s1_name = 'sprite-s1';
$sprite_s1_x = 135px;
$sprite_s1_y = 0px;
$sprite_s1_offset_x = -135px;
$sprite_s1_offset_y = 0px;
$sprite_s1_width = 94px;
$sprite_s1_height = 41px;
$sprite_s1_total_width = 229px;
$sprite_s1_total_height = 181px;
$sprite_s1_image = 'retinaSprite.png';
$sprite_s1 = 135px 0px -135px 0px 94px 41px 229px 181px 'retinaSprite.png' 'sprite-s1';
$sprite_s2_name = 'sprite-s2';
$sprite_s2_x = 0px;
$sprite_s2_y = 95px;
$sprite_s2_offset_x = 0px;
$sprite_s2_offset_y = -95px;
$sprite_s2_width = 94px;
$sprite_s2_height = 41px;
$sprite_s2_total_width = 229px;
$sprite_s2_total_height = 181px;
$sprite_s2_image = 'retinaSprite.png';
$sprite_s2 = 0px 95px 0px -95px 94px 41px 229px 181px 'retinaSprite.png' 'sprite-s2';
$sprite_s3_name = 'sprite-s3';
$sprite_s3_x = 104px;
$sprite_s3_y = 95px;
$sprite_s3_offset_x = -104px;
$sprite_s3_offset_y = -95px;
$sprite_s3_width = 94px;
$sprite_s3_height = 41px;
$sprite_s3_total_width = 229px;
$sprite_s3_total_height = 181px;
$sprite_s3_image = 'retinaSprite.png';
$sprite_s3 = 104px 95px -104px -95px 94px 41px 229px 181px 'retinaSprite.png' 'sprite-s3';
$sprite_alike_2x_name = 'sprite-alike-2x';
$sprite_alike_2x_x = 270px;
$sprite_alike_2x_y = 102px;
$sprite_alike_2x_offset_x = -270px;
$sprite_alike_2x_offset_y = -102px;
$sprite_alike_2x_width = 70px;
$sprite_alike_2x_height = 60px;
$sprite_alike_2x_total_width = 458px;
$sprite_alike_2x_total_height = 362px;
$sprite_alike_2x_image = 'retinaSprite2x.png';
$sprite_alike_2x = 270px 102px -270px -102px 70px 60px 458px 362px 'retinaSprite2x.png' 'sprite-alike-2x';
$sprite_icon_2x_name = 'sprite-icon-2x';
$sprite_icon_2x_x = 0px;
$sprite_icon_2x_y = 292px;
$sprite_icon_2x_offset_x = 0px;
$sprite_icon_2x_offset_y = -292px;
$sprite_icon_2x_width = 70px;
$sprite_icon_2x_height = 70px;
$sprite_icon_2x_total_width = 458px;
$sprite_icon_2x_total_height = 362px;
$sprite_icon_2x_image = 'retinaSprite2x.png';
$sprite_icon_2x = 0px 292px 0px -292px 70px 70px 458px 362px 'retinaSprite2x.png' 'sprite-icon-2x';
$sprite_left_2x_name = 'sprite-left-2x';
$sprite_left_2x_x = 416px;
$sprite_left_2x_y = 190px;
$sprite_left_2x_offset_x = -416px;
$sprite_left_2x_offset_y = -190px;
$sprite_left_2x_width = 30px;
$sprite_left_2x_height = 50px;
$sprite_left_2x_total_width = 458px;
$sprite_left_2x_total_height = 362px;
$sprite_left_2x_image = 'retinaSprite2x.png';
$sprite_left_2x = 416px 190px -416px -190px 30px 50px 458px 362px 'retinaSprite2x.png' 'sprite-left-2x';
$sprite_like_2x_name = 'sprite-like-2x';
$sprite_like_2x_x = 360px;
$sprite_like_2x_y = 102px;
$sprite_like_2x_offset_x = -360px;
$sprite_like_2x_offset_y = -102px;
$sprite_like_2x_width = 70px;
$sprite_like_2x_height = 60px;
$sprite_like_2x_total_width = 458px;
$sprite_like_2x_total_height = 362px;
$sprite_like_2x_image = 'retinaSprite2x.png';
$sprite_like_2x = 360px 102px -360px -102px 70px 60px 458px 362px 'retinaSprite2x.png' 'sprite-like-2x';
$sprite_logo_2x_name = 'sprite-logo-2x';
$sprite_logo_2x_x = 0px;
$sprite_logo_2x_y = 0px;
$sprite_logo_2x_offset_x = 0px;
$sprite_logo_2x_offset_y = 0px;
$sprite_logo_2x_width = 250px;
$sprite_logo_2x_height = 170px;
$sprite_logo_2x_total_width = 458px;
$sprite_logo_2x_total_height = 362px;
$sprite_logo_2x_image = 'retinaSprite2x.png';
$sprite_logo_2x = 0px 0px 0px 0px 250px 170px 458px 362px 'retinaSprite2x.png' 'sprite-logo-2x';
$sprite_right_2x_name = 'sprite-right-2x';
$sprite_right_2x_x = 90px;
$sprite_right_2x_y = 292px;
$sprite_right_2x_offset_x = -90px;
$sprite_right_2x_offset_y = -292px;
$sprite_right_2x_width = 30px;
$sprite_right_2x_height = 50px;
$sprite_right_2x_total_width = 458px;
$sprite_right_2x_total_height = 362px;
$sprite_right_2x_image = 'retinaSprite2x.png';
$sprite_right_2x = 90px 292px -90px -292px 30px 50px 458px 362px 'retinaSprite2x.png' 'sprite-right-2x';
$sprite_s1_2x_name = 'sprite-s1-2x';
$sprite_s1_2x_x = 270px;
$sprite_s1_2x_y = 0px;
$sprite_s1_2x_offset_x = -270px;
$sprite_s1_2x_offset_y = 0px;
$sprite_s1_2x_width = 188px;
$sprite_s1_2x_height = 82px;
$sprite_s1_2x_total_width = 458px;
$sprite_s1_2x_total_height = 362px;
$sprite_s1_2x_image = 'retinaSprite2x.png';
$sprite_s1_2x = 270px 0px -270px 0px 188px 82px 458px 362px 'retinaSprite2x.png' 'sprite-s1-2x';
$sprite_s2_2x_name = 'sprite-s2-2x';
$sprite_s2_2x_x = 0px;
$sprite_s2_2x_y = 190px;
$sprite_s2_2x_offset_x = 0px;
$sprite_s2_2x_offset_y = -190px;
$sprite_s2_2x_width = 188px;
$sprite_s2_2x_height = 82px;
$sprite_s2_2x_total_width = 458px;
$sprite_s2_2x_total_height = 362px;
$sprite_s2_2x_image = 'retinaSprite2x.png';
$sprite_s2_2x = 0px 190px 0px -190px 188px 82px 458px 362px 'retinaSprite2x.png' 'sprite-s2-2x';
$sprite_s3_2x_name = 'sprite-s3-2x';
$sprite_s3_2x_x = 208px;
$sprite_s3_2x_y = 190px;
$sprite_s3_2x_offset_x = -208px;
$sprite_s3_2x_offset_y = -190px;
$sprite_s3_2x_width = 188px;
$sprite_s3_2x_height = 82px;
$sprite_s3_2x_total_width = 458px;
$sprite_s3_2x_total_height = 362px;
$sprite_s3_2x_image = 'retinaSprite2x.png';
$sprite_s3_2x = 208px 190px -208px -190px 188px 82px 458px 362px 'retinaSprite2x.png' 'sprite-s3-2x';
$spritesheet_width = 229px;
$spritesheet_height = 181px;
$spritesheet_image = 'retinaSprite.png';
$spritesheet_sprites = $sprite_alike $sprite_icon $sprite_left $sprite_like $sprite_logo $sprite_right $sprite_s1 $sprite_s2 $sprite_s3;
$spritesheet = 229px 181px 'retinaSprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 458px;
$retina_spritesheet_height = 362px;
$retina_spritesheet_image = 'retinaSprite2x.png';
$retina_spritesheet_sprites = $sprite_alike_2x $sprite_icon_2x $sprite_left_2x $sprite_like_2x $sprite_logo_2x $sprite_right_2x $sprite_s1_2x $sprite_s2_2x $sprite_s3_2x;
$retina_spritesheet = 458px 362px 'retinaSprite2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$sprite_alike_group_name = 'sprite-alike';
$sprite_alike_group = 'sprite-alike' $sprite_alike $sprite_alike_2x;
$sprite_icon_group_name = 'sprite-icon';
$sprite_icon_group = 'sprite-icon' $sprite_icon $sprite_icon_2x;
$sprite_left_group_name = 'sprite-left';
$sprite_left_group = 'sprite-left' $sprite_left $sprite_left_2x;
$sprite_like_group_name = 'sprite-like';
$sprite_like_group = 'sprite-like' $sprite_like $sprite_like_2x;
$sprite_logo_group_name = 'sprite-logo';
$sprite_logo_group = 'sprite-logo' $sprite_logo $sprite_logo_2x;
$sprite_right_group_name = 'sprite-right';
$sprite_right_group = 'sprite-right' $sprite_right $sprite_right_2x;
$sprite_s1_group_name = 'sprite-s1';
$sprite_s1_group = 'sprite-s1' $sprite_s1 $sprite_s1_2x;
$sprite_s2_group_name = 'sprite-s2';
$sprite_s2_group = 'sprite-s2' $sprite_s2 $sprite_s2_2x;
$sprite_s3_group_name = 'sprite-s3';
$sprite_s3_group = 'sprite-s3' $sprite_s3 $sprite_s3_2x;
$retina_groups = $sprite_alike_group $sprite_icon_group $sprite_left_group $sprite_like_group $sprite_logo_group $sprite_right_group $sprite_s1_group $sprite_s2_group $sprite_s3_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
